* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(224, 97, 97), #444, #fff);
}

.row .card {
    background-color: #fff;
    color: black;
    text-align: center;
}

.row .card h5 {
    font-weight: bold;
}
/* 
.row .card img:hover {
    transform: scaleX(20px);
} */

.btn-cart {
    position: relative;
    top: 10px;
}

a {
    cursor: pointer;
}

.modal-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img-cart {
    width: 200px;
    padding: 1rem;
}

.paragraph {
    font-weight: 700;
    font-style: italic;
}

#activateFunction {
    opacity: 0;
}

.alert {
    font-weight: 900;
}