* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background: radial-gradient(circle at 50% -20.71%, #ebe9ea 0, #ddbcd7 12.5%, #f8e6f6 25%, #d57ae1 37.5%, #c47be8 50%, #8c3df9 62.5%, #756cd7 75%, #7685af 87.5%, #6f88c1 100%);
}

.row .card {
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
}

.row .card h5 {
    font-weight: bold;
}

.btn-cart {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

a {
    cursor: pointer;
}

.modal-container {
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgb(186, 129, 129);
    text-align: center;
    margin: 20px;
    padding: 5px;
}

.img-cart {
    width: 200px;
    padding: 1rem;
}

.paragraph {
    font-weight: 700;
    font-style: italic;
}

#activateFunction {
    opacity: 0;
}

.alert {
    font-weight: 900;
}


  
